# Secrets
.env
.env.*
*.pem
*.key
*.crt
*.p12

# VPN
wg0.conf
*.conf

# Data
data/
backup/
mongodb/
redis/
elasticsearch/
minio/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
